<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Pitch</title>
</head>
<body>
    <div class="row">
        <div class="col-md-3">
            <div class="nav">


                
                <ul>
                    <li><a href="">PitchApp</a></li>
                    
                    <li><a class="active" href="/">Home</a></li>
                    {% if current_user.is_authenticated%}
                    <li><a href="/pitch/new/{{current_user.username}}"> Add new pitch</a></li>
                    <li style="color:black;padding: 15px;">{{current_user.username}}</li>
                    <li> <a href="{{url_for('main.profile',uname = current_user.username)}}">Profile</a> </li>
                    
                    <li><a href="{{url_for('auth.login')}}">Sign In</a></li>
                    {% else%}
                    <li><a href="{{url_for('auth.logout')}}">Sign Out</a></li>
                    {% endif%}
                </ul>
                
        
            </div>
        </div>
        <div class="col-md-9" >
            <p> The {{pitch.title}} pitch</p>
            <div class="row">
                    <div class="col-md 4">
                        <div class="card">
                            <div class="card-body">
                                <p> {{pitch.pitch_body}} </p>
                                <center><p><i>posted by </i>{{pitch.user}}</p></center>
                            </div>

                            <div class="card-footer">
                                <p>posted on {{pitch.posted}}</p>
                                
                            </div>
                        </div>
                    </div>
            </div>
            <p>comments</p>
            <p> <button><a href="/pitch/comment/new/{{pitch.id}}">add comment</a> </button></p>
            
                {% for com in comment %}
                    
                        <div class="card">
                            <p>{{com.comment}}</p>
                            
                            <p><i>posted by</i> {{com.user}} <i>on </i> {{com.posted}}</p>
                            
                        </div>
                    
                {% endfor%}

             
            
        </div>
    </div>
</body>
</html>